.page-header{
	color: green;
}

.navbar-default{

	background-color: rgb(153, 255, 153);
	height: 20px;
}
.navbar-fixed-top{
	min-height: 110px;

}

#logo{
	display: inline-block;

}
.menubar{
	display: inline-block;
	
}

ul{
	list-style-type: none;
}