.page-header{
	color: green;
}

.navbar-default{

	background-color: rgb(153, 255, 153);
	height: 20px;
}
.navbar-fixed-top{
	min-height: 110px;

}

#logo{
	display: inline-block;
	float: left;
}
.menubar{
	text-transform: uppercase;
	padding-top: 30px;
}

