.page-header{
	color: green;
}

.navbar-default{

	background-color: rgb(99, 176, 176);
	/*height: 20px;*/
}
.navbar-fixed-top{
	min-height: 102px;

}

#logo{
	display: inline-block;
	float: left;
}
.menubar{
	font: 20px arial, sans-serif;
	text-transform: uppercase;
	padding-top: 30px;
	font-weight: bold;
	padding-right: 10px;
	display: inline-block;
}

.panel-footer{
	background-color: rgb(61, 61, 61);
	min-height: 80px;
	text-align: center;
	color: white;
	font-weight:bold;
}

.img-responsive{
	padding-top: 100px;
	margin: 0 auto;
}

#imagecaption{
	text-align: center;
	color: green;

}






